<h1>Editing Booking Ticket</h1>

<%= render 'form', booking_ticket: @booking_ticket %>

<%= link_to 'Show', @booking_ticket %> |
<div class = "btn btn-dark">
<%= link_to 'Back', booking_tickets_path %>
</div>
